<!DOCTYPE html>

<body>
  <section class="card">
    <header class="card__header"></header>
    <main class="card__main"></main>
    <footer class="card__footer">
    </footer>
  </section>

  <style>
    body {
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: center;
      display: flex;
      height: 100vh;
      background-color: #e6aaaa;
    }

    .card {
      width: 70%;
      height: 70%;
      text-align: center;
      border-radius: 10px;
    }

    .card__header {
      width: 100%;
      height: 20%;
      border-radius: 10px 10px 0 0;
      background-color: #f0f8ff;
    }

    .card__main {
      width: 100%;
      height: 70%;
      background-color: #00ffff;
    }

    .card__footer {
      width: 100%;
      height: 20%;
      background-color: #891bf0;
      text-align: center;
      align-items: center;
    }
  </style>
</body>